.horizon_line2 {
    border-bottom: 0.5px solid #000000;
}

@media (min-width: 360px) and (max-width: 759px) {
    /*=================================*/
    /*공통 설정*/
    /*=================================*/
    html,
    body {
        box-sizing: border-box;
        margin: 0;
        font-size: 62.5%;
    }

    body {
        margin : 0;
        text-align: center;
        font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    }

    a:hover,
    a:visited,
    a:focus {
        text-decoration: none !important;
        /*color: #ffffff;*/
    }

    a,
    ul,
    ol,
    li {
        text-decoration: none;
        list-style: none;
    }

    /* header */
    .header {
        border-bottom: 1px solid #000000;
        background-color: #FFFFFF;
    }

    /*=================================*/
    /*navbar 설정*/
    /*=================================*/

    .navbar a {
        color: #000000;
        display: flex;
        align-items: center;
    }

    .navbar{
        max-width: 760px;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        /* padding: 8px 12px; */
        padding-top: 8px;
        padding-bottom: 8px;
        height: 50px;
        color: #000000;
        margin: 0px auto;
        position: relative;
    }

    .nav_logo{
        font-size: 24px;
        padding-left: 12px;
    }

    .nav_logo i {
        padding-right: 5px;
        color: coral;
    }

    .nav_menu{
        display: none;
        list-style: none;
        padding-left: 0;
        font-size: 1.5rem;
        cursor:pointer;
        
    }

    .nav_menu li div{
        padding-left: 12px;
    }

    .nav_menu li {
        display: flex;
        padding: 8px 12px;
    }

    .nav_menu li a:hover{
        font-weight: bold;
        color: coral;
    }

    /*=================================*/
    /*head_title 설정*/
    /*=================================*/

    .head_title {
        background-color: rgba(0,0,0,0.9);
        height: 30vh;
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
        flex-direction: column;
        padding-left: 3em;
    }

    .head_title div{
        max-width: 760px;
        width: 100%;
        text-align: left;
        display: block;
        /* vertical-align: middle; */
        font-size: 4.5rem;
        font-weight: bold;
        color: white;
    }

    .head_title > div > p {
        margin-bottom: 0;
    }

    /*=================================*/
    /* main_content 설정*/
    /*=================================*/

    .main_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 120px;
        padding: 30px;
        width: 70vw;
        background-color: white;
        font-size: 1.6rem;
    }

    .main_content div{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    .content_title > div:nth-child(1) {
        padding-left: 10px;
    }

    /*=================================*/
    /*font 설정*/
    /*=================================*/

    .content_title{
        font-size: 2rem;
        font-weight: bold;
    }

    .m_text{
        font-size: 1.5rem;
    }

    .s_text{
        font-size: 1.3rem;
    }

    .b_text{
        font-size: 2rem;
        font-weight: bold;
    }

    .red_text{
        font-weight: bold;
        color: red;
    }

    .blue_text{
        font-weight: bold;
        color: blue;
    }


    /*=================================*/
    /*button 설정*/
    /*=================================*/

    .main_button{
        position:relative;
        /*padding:0 2em;*/
        outline:none;
        height: 40px;
        width: 100px;
        border:none;
        border-radius: 8px;
        /*border: 2px solid navy;*/
        /*color:black;*/
        background-color: #4374D9;
        color:#fff;
        font-size:1.3rem;
        cursor:pointer;
        transition:800ms ease all;
    }

    /* .main_button:hover{
        border: none;
        color:white;
        background:#b2b2b2;
    } */

    /*=================================*/
    /*s_button 설정*/
    /*=================================*/

    .s_button{
        margin-top: -30px;
    }

    .s_button button {
        margin: 4px;
        padding: 0;
        display: inline-block;
        height: 30px;
        width:50px;
        border-radius: 8px;
        background-color: #b2b2b2;
        color:#fff;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        transition:800ms ease all;
    }

    /* .s_button button:hover{
        padding: 0;
        display: inline-block;
        height: 30px;
        width:50px;
        border-radius: 8px;
        color:#b2b2b2;
        background:#fff;
        border: solid #b2b2b2 2px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        transition:800ms ease all;
    } */

    /*=================================*/
    /*l_button 설정*/
    /*=================================*/

    .l_button button {
        margin: 4px;
        padding: 0;
        display: inline-block;
        height: 50px;
        width:100%;
        border-radius: 8px;
        background-color: #FFC700;
        color:#000000;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
    }

    /* .l_button button:hover{
        margin: 4px;
        padding: 0;
        display: inline-block;
        height: 50px;
        width:100%;
        border-radius: 8px;
        color:white;
        background:#b2b2b2;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        transition:800ms ease all;
    } */

    /*=================================*/
    /*Ul li 설정*/
    /*=================================*/

    .main_content div ul{
        display: flex;
        justify-content: space-between;
        /* width: 50em; */
    }

    .main_content div ul li a{
        cursor:pointer;
    }

    .main_content div ul li a:hover{
        color: coral;
    }

    /*=================================*/
    /*footer 설정*/
    /*=================================*/

    footer {
        background-color: black;
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        /* margin-top: 20vh; */
    }

    footer > div {
        max-width: 760px;
        color: white;
        display: block;
        width: 100%;
    }
}








@media (min-width: 760px) {
    /*=================================*/
    /*공통 설정*/
    /*=================================*/
    html,
    body {
        box-sizing: border-box;
        margin: 0;
        font-size: 62.5%;
    }

    body {
        margin : 0;
        text-align: center;
        font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    }

    a:hover,
    a:visited,
    a:focus {
        text-decoration: none !important;
        /*color: #ffffff;*/
    }

    a,
    ul,
    ol,
    li {
        text-decoration: none;
        list-style: none;
    }

    /* header */
    .header {
        border-bottom: 1px solid #000000;
        background-color: #ffffff;
    }

    /*=================================*/
    /*navbar 설정*/
    /*=================================*/

    .navbar a {
        color: #000000;
        display: flex;
        align-items: center;
    }

    .navbar{
        max-width: 760px;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        /* padding: 8px 12px; */
        padding-top: 8px;
        padding-bottom: 8px;
        height: 50px;
        color: #000000;
        margin: 0px auto;
        position: relative;
    }

    .nav_logo{
        font-size: 24px;
        padding-left: 12px;
    }

    .nav_logo i {
        padding-right: 5px;
        color: coral;
    }

    .nav_menu{
        display: flex;
        list-style: none;
        padding-left: 0;
        font-size: 15px;
        cursor:pointer;
        font-weight: 600;
        height: 100%;
        margin-top: 20px;
    }

    .nav_menu li:nth-child(even) {
        padding: 13px 0;
    }

    .nav_menu li div{
        padding-left: 12px;
    }

    .nav_menu li {
        display: flex;
        padding: 8px 12px;
    }

    .nav_menu li a:hover{
        font-weight: bold;
        color: coral;
    }

    /* .dropdown {
        display: none;
        width: 100vw;
        height: 110px;
        background-color: #F8F8F8;
        position: absolute;
        margin: 0 auto;
        left: 0px;
        top: 66px;
        z-index: 999;
    }
    
    .dropdown_content {
        display: none;
        max-width: 760px;
        position: absolute;
        margin-top: 67px;
        padding: 8px;
        z-index: 9999;
        font-size: 15px;
        font-weight: 500;
        text-align: left;
    }

    .nav_menu:hover li .dropdown_content, .dropdown_content:hover, nav .dropdown{
        display: block;
    } */

    .dropdown_content {
        position: absolute;
        /* left: 0; */
        top: 90%;
        padding: 0 1000em; /* trick from css-tricks comments */
        margin: 0 -1000em; /* trick from css-tricks comments */
        z-index: 101;
        visibility: hidden;
        opacity: 0;
        background: #F8F8F8;
    }

    .nav_menu > li:hover > ul {
        visibility: visible;
        opacity: 1;
    }

    .dropdown_content > li {
        padding: 3px 0;
    }

    /*=================================*/
    /*head_title 설정*/
    /*=================================*/

    .head_title {
        background-color: #FFFFFF;
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 2vh; */
        flex-direction: column;
    }

    .head_title > div{
        margin-left: 0px;
        max-width: 760px;
        width: 100%;
        text-align: left;
        display: flex;
        font-weight: bold;
        color: black;
        align-items: center;
        height: auto;
    }
    
    .head_title > div > p {
        margin-bottom: 45px;
    }

    .title_container > div {
        text-align: left;
        height: auto;
    }

    .title_container div p {
        margin: 0 0 0 0;
    }
    
    .title_container > div:nth-child(1) {
        padding-left: 24px;
        border-left: 6px solid #FFC700;
        font-size: 34px;
        font-weight: 700;
    }

    .title_container > div:nth-child(2) {
        padding-left: 22px;
        border-left: 2px solid #FFC700;
        margin-left: 31px;
        font-size: 20px;
        font-weight: 700;
    }

    /*=================================*/
    /* main_content 설정*/
    /*=================================*/

    .main_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 120px;
        padding: 30px;
        width: 70vw;
        background-color: white;
        font-size: 1.6rem;
    }

    .main_content div{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    /*=================================*/
    /*font 설정*/
    /*=================================*/

    .content_title{
        font-size: 2rem;
        font-weight: bold;
    }

    .m_text{
        font-size: 1.5rem;
    }

    .s_text{
        font-size: 15px;
        font-weight: 500;
    }

    .b_text{
        font-size: 2rem;
        font-weight: bold;
        justify-content: flex-end;
    }

    .red_text{
        font-weight: bold;
        color: red;
    }

    .blue_text{
        font-weight: bold;
        color: blue;
    }

    .vertical_line {
        color: #FFC700;
        font-weight: 600;
    }


    /*=================================*/
    /*button 설정*/
    /*=================================*/

    .main_button{
        position:relative;
        /*padding:0 2em;*/
        outline:none;
        height: 40px;
        width: 120px;
        border:none;
        border-radius: 8px;
        /*border: 2px solid navy;*/
        /*color:black;*/
        background-color: #FFC700;
        color:#000000;
        font-size:14px;
        font-weight: 600;
        cursor:pointer;
        transition:800ms ease all;
    }

    /* .main_button:hover{
        border: none;
        color:white;
        background:#b2b2b2;
    } */

    /*=================================*/
    /*s_button 설정*/
    /*=================================*/

    /* .s_button{
        margin-top: -30px;
    } */

    .s_button button {
        margin: 4px;
        padding: 0;
        display: inline-block;
        height: 40px;
        width: 120px;
        border-radius: 8px;
        background-color: #FFC700;
        color: black;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        font-weight: 600;
        /* transition:800ms ease all; */
    }

    /* .s_button button:hover{
        padding: 0;
        display: inline-block;
        height: 30px;
        width:50px;
        border-radius: 8px;
        color:#b2b2b2;
        background:#fff;
        border: solid #b2b2b2 2px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        transition:800ms ease all;
    } */

    /*=================================*/
    /*l_button 설정*/
    /*=================================*/

    .l_button button {
        margin: 4px;
        padding: 0;
        display: inline-block;
        height: 50px;
        width:100%;
        border-radius: 8px;
        background-color: #FFC700;
        color:#000000;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 19px;
        font-weight: 600;
        cursor: pointer;
    }

    /* .l_button button:hover{
        margin: 4px;
        padding: 0;
        display: inline-block;
        height: 50px;
        width:100%;
        border-radius: 8px;
        color:white;
        background:#b2b2b2;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        transition:800ms ease all;
    } */

    /*=================================*/
    /*Ul li 설정*/
    /*=================================*/

    .main_content div ul{
        display: flex;
        justify-content: space-between;
        width: 50em;
    }

    .main_content div ul li a{
        cursor:pointer;
    }

    .main_content div ul li a:hover{
        color: coral;
    }

    /*=================================*/
    /*footer 설정*/
    /*=================================*/

    footer {
        background-color: black;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: 500;
        /* margin-top: 20vh; */
    }

    footer > div {
        max-width: 760px;
        color: white;
        display: flex;
        width: 100%;
        margin-top: 86px;
    }

    .footer_comp_info {
        text-align: left;
    }

    .footer_menu_container {
        display: flex;
        flex-direction: row;
        margin-left: 60px;
    }

    .footer_menu_container div {
        text-align: left;
        margin-bottom: 9px;
    }

    .footer_menu_container > div {
        text-align: left;
        margin-right: 20px;
    }

    .footer_menu_container div > div:nth-child(1) {
        font-size: 15px;
        font-weight: 700;
    }

    .footer_menu_container div div {
        cursor: pointer;
    }

}


