@media (min-width: 360px) and (max-width: 759px) {

    .fees_wrapper {
        width: 100%;
        /* background: radial-gradient(ellipse at 100% 0%, #4b69ce, #6940c9); */
    }

    .fees_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    .fees_category {
        margin: 25px 0;
        font-size: 16px;
        width: 350px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        font-weight: 700;
    }

    .fees_table {
        margin-bottom: 50px;
        width: 100%;
        overflow: hidden;
    }

    .fees_table > table {
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        display: block;
    }

    .fees_table th, .fees_table td{
        font-size: 13px;
    }

    .fees_table th {
        background-color: white;
        color: black;
    }

    .fees_table td {
        border-bottom: 1px solid black;
        color: black;
    }

}

@media (min-width: 760px) {

    .fees_wrapper {
        width: 100%;
        /* background: radial-gradient(ellipse at 100% 0%, #4b69ce, #6940c9); */
    }

    .fees_container {
        max-width: 760px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    .fees_category {
        margin: 25px 0;
        font-size: 16px;
        width: 350px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        font-weight: 700;
    }

    .fees_category > a {
        cursor: pointer;
    }

    .fees_table {
        margin-bottom: 50px;
    }

    .fees_table th, .fees_table td{
        font-size: 13px;
    }

    .fees_table th {
        background-color: white;
        color: black;
    }

    .fees_table td {
        /* border: 1px solid black; */
        border-bottom: 1px solid black;
        color: black;
    }

}