@media (min-width: 360px) and (max-width: 759px) {

    .setting_box{
        display: flex;
        flex-direction: column;
        padding-top:0 !important;
    }

    #load_button {
        width: 90%;
    }

    .setting_box div div button{
        margin-left: 10px;
    }

    .setting_box .t_button {
        margin:20px 0 0 0px;
        padding-top:10px;
    }

    .main_button{
        margin-right: 10px;
    }

    /* .s_button{
        margin-top: -10px;
    }

    .s_button button{
        height: 74px;
        width: 150px;
        font-size: 12px;
        margin:0 10px;
    } */
    #save_buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-top: 20px;
    }

    /* .s_button button:hover{
        height: 50px;
        width: 150px;
    } */


    #setting_options {
        padding-top: 10px;
        padding-left: 10px;
        margin: 0px 8px 0 0;
        width:50em;
        font-size:12px;
    }

    #section_setting_button {
        width: 120px;
        margin: 0px 3px 0px 10px;

    }

    .setting_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    #save_buttons > button {
        width: 50%;
    }

}

@media (min-width: 760px) {

    .setting_box{
        display: flex;
        flex-direction: column;
    }

    #load_button {
        width: 120px;
    }

    .setting_box div div button{
        margin-left: 10px;
    }

    .main_button{
        margin-right: 10px;
    }

    /* .s_button{
        margin-top: -10px;
    }

    .s_button button{
        height: 50px;
        width: 150px;
    } */

    /* .s_button button:hover{
        height: 50px;
        width: 150px;
    } */


    #setting_options {
        padding-top: 20px;
        margin: 0px;
    }

    #section_setting_button {
        width: 120px;
        margin: 0px 3px 0px 0px;
    }

    #pyramiding_buttons {
        justify-content: space-between;
    }

    #save_buttons > button {
        width: 120px;
    }

}