.line_1{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.s_button{
    /*margin-top: -10px;*/
}

.s_button button{
    margin-left: 100px;
    height: 50px;
    width: 150px;
}

.s_button button:hover{
    height: 50px;
    width: 150px;
}

.img_div{
    margin: 30px;
    align-items: center;
    background-color: #444444;
    height: 30vh;
}

input[type="text"]{
    width: 50px;
}

.main_button{
    margin-left: 20px;
}